<div class="card">
    <div class="card-img-wrapper">
      <img class="card-img-top" [src]="book.Name + '.jpg'" [alt]="book.Name">
      <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
          <button class="btn btn-primary" routerLink="/book-detail/{{book.Id}}" routerLinkActive="router-link-active" ><i class="fa-solid fa-circle-info"></i></button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary"><i class="fa-solid fa-address-book"></i></button>
        </li>
      </ul>
    </div>
    <div class="card-body p-2">
      <h1>{{book.Name}}</h1>
      <h1>{{book.Type}}</h1>
      <h1>{{book.Price}}</h1>
    </div>
  </div>
  