<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">
              Name
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" formControlName="userName">
            <span class="error-block" *ngIf="!userName?.valid && (userName?.touched || userSubmitted )">
              please provide a name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">
            Email
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" formControlName="email">
          <span class="error-block" *ngIf="!email?.valid && (email?.touched || userSubmitted)">
            <span *ngIf="email.hasError('required')">
              please provide an email
            </span>
            <span *ngIf="email.hasError('email')">
              please provide a correct email
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="password" class="form-label">
            Password
            <span class="text-danger">*</span>
          </label>
          <input type="password" class="form-control" formControlName="password">
          <span class="error-block" *ngIf="!password?.valid && (password?.touched || userSubmitted)">
            <span *ngIf="password?.errors?.['required']">
              please provide a password
            </span>
            <span *ngIf="password?.errors?.['minlength']">
              Password should not be lesser than 8 characters
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">
            Confirm Password
            <span class="text-danger">*</span>
          </label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span class="error-block" *ngIf="!confirmPassword?.valid && (confirmPassword?.touched || userSubmitted)">
            <span *ngIf="confirmPassword.hasError('required')">
              Please confirm the password
            </span>
          </span>
          <span class="error-block" *ngIf="confirmPassword?.valid && registerationForm?.hasError('notmatched')">
            Password not matched
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">
            Mobile
            <span class="text-danger">*</span>
          </label>
          <input type="text" class="form-control" formControlName="mobile">
          <span class="error-block" *ngIf="!mobile?.valid && (mobile?.touched || userSubmitted)">
            Wrong mobile number
          </span>
        </div>

        <br>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary me-2">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>

      Form Values: {{registerationForm.value | json}}
      <br>
      Form Status: {{registerationForm.valid}}

    </div>
  </div>
  </div>
</div>